<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".HDmediApplication"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app"
        android:label="아이약"
        android:roundIcon="@drawable/ic_app_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HDmedi"
        tools:targetApi="31">
        <activity
            android:name=".ui.main.result.compare.ResultCompareActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.main.result.DetailResultActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.onboarding.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".ui.test.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.test.result.sendResult.SendResultActivity"
            android:exported="true" />
        <activity
            android:name=".ui.test.result.sendResult.RequestResultParentActivity"
            android:exported="true" />
        <activity
            android:name=".ui.onboarding.teacher.CheckInfoActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.result.CheckResultActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.onboarding.teacher.TeacherSettingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.onboarding.parent.ParentsSettingActivity"
            android:exported="true" />
        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:exported="true" />
    </application>
</manifest>